2_Backend_System/flows.json
[
    {
        "id": "173f0e200b9a41db",
        "type": "tab",
        "label": "NDVI_to_InfluxDB",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1bf928caf54dfd94",
        "type": "influxdb",
        "hostname": "20.150.150.210",
        "port": "8086",
        "protocol": "http",
        "database": "ndvitest",
        "name": "ndvitest",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "26032067889b7ae0",
        "type": "influxdb",
        "hostname": "20.150.150.210",
        "port": "8086",
        "protocol": "http",
        "database": "agicam4",
        "name": "AGIcam4_WW",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "78a9a6f8bab93db8",
        "type": "influxdb",
        "hostname": "20.150.150.210",
        "port": "8086",
        "protocol": "http",
        "database": "agicam7",
        "name": "AGIcam7_WW",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "9f132dc6e53b86b0",
        "type": "influxdb",
        "hostname": "20.150.150.210",
        "port": "8086",
        "protocol": "http",
        "database": "agicam8",
        "name": "AGIcam8_WW",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "6798cc58b7349ed6",
        "type": "influxdb",
        "hostname": "20.150.150.210",
        "port": "8086",
        "protocol": "http",
        "database": "agicam9",
        "name": "AGIcam9_WW",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "be675468a4870ee9",
        "type": "influxdb",
        "hostname": "20.150.150.210",
        "port": "8086",
        "protocol": "http",
        "database": "agicam11",
        "name": "AGIcam11_WW",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "700d7a962b1578c1",
        "type": "influxdb",
        "hostname": "20.150.150.210",
        "port": "8086",
        "protocol": "http",
        "database": "agicam12",
        "name": "AGIcam12_WW",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "6935d01bd4a92cab",
        "type": "influxdb",
        "hostname": "20.150.150.210",
        "port": "8086",
        "protocol": "http",
        "database": "agicam13",
        "name": "AGIcam13_SW",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "b5bacb1e59d26f38",
        "type": "influxdb",
        "hostname": "20.150.150.210",
        "port": "8086",
        "protocol": "http",
        "database": "agicam14",
        "name": "AGIcam14_SW",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "018fae0b12064b07",
        "type": "influxdb",
        "hostname": "20.150.150.210",
        "port": "8086",
        "protocol": "http",
        "database": "agicam15",
        "name": "AGIcam15_SW",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "f52441440269f831",
        "type": "influxdb",
        "hostname": "20.150.150.210",
        "port": "8086",
        "protocol": "http",
        "database": "agicam16",
        "name": "AGIcam16_SW",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "75d4865b325ec9e1",
        "type": "influxdb",
        "hostname": "20.150.150.210",
        "port": "8086",
        "protocol": "http",
        "database": "agicam17",
        "name": "AGIcam17_SW",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "041c62c5e8e7fc12",
        "type": "influxdb",
        "hostname": "20.150.150.210",
        "port": "8086",
        "protocol": "http",
        "database": "agicam18",
        "name": "AGIcam18_SW",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "a6988d5be51dc0bf",
        "type": "influxdb",
        "hostname": "20.150.150.210",
        "port": "8086",
        "protocol": "http",
        "database": "agicam19",
        "name": "AGIcam19_SW",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "d2f180dc192607e3",
        "type": "influxdb",
        "hostname": "20.150.150.210",
        "port": "8086",
        "protocol": "http",
        "database": "agicam21",
        "name": "AGIcam21_SW",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "55860cc9de4f4329",
        "type": "influxdb",
        "hostname": "20.150.150.210",
        "port": "8086",
        "protocol": "http",
        "database": "agicam22",
        "name": "AGIcam22_SW",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "c033f4ab78e06c3f",
        "type": "influxdb",
        "hostname": "20.150.150.210",
        "port": "8086",
        "protocol": "http",
        "database": "agicam23",
        "name": "AGIcam23_SW",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "6dc0c83b3de5de53",
        "type": "influxdb",
        "hostname": "20.150.150.210",
        "port": "8086",
        "protocol": "http",
        "database": "agicam24",
        "name": "AGIcam24_SW",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "6162321c902ee1ee",
        "type": "influxdb",
        "hostname": "20.150.150.210",
        "port": "8086",
        "protocol": "http",
        "database": "agicam25",
        "name": "AGIcam25_SW",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "0ac1591344d7853f",
        "type": "file in",
        "z": "173f0e200b9a41db",
        "name": "Read NDVI JSON",
        "filename": "/home/pi/MScamera/ndvi.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 310,
        "y": 60,
        "wires": [
            [
                "8eee15ba81395b65"
            ]
        ]
    },
    {
        "id": "ba8ba059ef954340",
        "type": "inject",
        "z": "173f0e200b9a41db",
        "name": "Trigger Flow",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 140,
        "wires": [
            [
                "0ac1591344d7853f"
            ]
        ]
    },
    {
        "id": "8eee15ba81395b65",
        "type": "json",
        "z": "173f0e200b9a41db",
        "name": "Parse JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 310,
        "y": 180,
        "wires": [
            [
                "bbff60415f35bccf",
                "f0cd49dde3611b26"
            ]
        ]
    },
    {
        "id": "bbff60415f35bccf",
        "type": "debug",
        "z": "173f0e200b9a41db",
        "name": "Debug Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 160,
        "wires": []
    },
    {
        "id": "f0cd49dde3611b26",
        "type": "function",
        "z": "173f0e200b9a41db",
        "name": "Transform VI Data",
        "func": "// AGIcam Multi Replicate Data Transformation\nmsg.payload = [\n    // Rep1 - All 4 vegetation indices\n    {\n        measurement: \"vr1_1\",\n        fields: {\n            timepi: msg.payload.rep1.vr1_1.timestamp,\n            mean: msg.payload.rep1.vr1_1.mean,\n            median: msg.payload.rep1.vr1_1.median,\n            std: msg.payload.rep1.vr1_1.std,\n            max: msg.payload.rep1.vr1_1.max,\n            p95: msg.payload.rep1.vr1_1.p95,\n            p90: msg.payload.rep1.vr1_1.p90,\n            p85: msg.payload.rep1.vr1_1.p85\n        },\n        tags: { plot: \"rep1\" },\n        timestamp: new Date()\n    },\n    {\n        measurement: \"vr2_1\",\n        fields: {\n            timepi: msg.payload.rep1.vr2_1.timestamp,\n            mean: msg.payload.rep1.vr2_1.mean,\n            median: msg.payload.rep1.vr2_1.median,\n            std: msg.payload.rep1.vr2_1.std,\n            max: msg.payload.rep1.vr2_1.max,\n            p95: msg.payload.rep1.vr2_1.p95,\n            p90: msg.payload.rep1.vr2_1.p90,\n            p85: msg.payload.rep1.vr2_1.p85\n        },\n        tags: { plot: \"rep1\" },\n        timestamp: new Date()\n    },\n    {\n        measurement: \"vr3_1\",\n        fields: {\n            timepi: msg.payload.rep1.vr3_1.timestamp,\n            mean: msg.payload.rep1.vr3_1.mean,\n            median: msg.payload.rep1.vr3_1.median,\n            std: msg.payload.rep1.vr3_1.std,\n            max: msg.payload.rep1.vr3_1.max,\n            p95: msg.payload.rep1.vr3_1.p95,\n            p90: msg.payload.rep1.vr3_1.p90,\n            p85: msg.payload.rep1.vr3_1.p85\n        },\n        tags: { plot: \"rep1\" },\n        timestamp: new Date()\n    },\n    {\n        measurement: \"vr4_1\",\n        fields: {\n            timepi: msg.payload.rep1.vr4_1.timestamp,\n            mean: msg.payload.rep1.vr4_1.mean,\n            median: msg.payload.rep1.vr4_1.median,\n            std: msg.payload.rep1.vr4_1.std,\n            max: msg.payload.rep1.vr4_1.max,\n            p95: msg.payload.rep1.vr4_1.p95,\n            p90: msg.payload.rep1.vr4_1.p90,\n            p85: msg.payload.rep1.vr4_1.p85\n        },\n        tags: { plot: \"rep1\" },\n        timestamp: new Date()\n    },\n    // Rep2 - All 4 vegetation indices\n    {\n        measurement: \"vr1_1\",\n        fields: {\n            timepi: msg.payload.rep2.vr1_1.timestamp,\n            mean: msg.payload.rep2.vr1_1.mean,\n            median: msg.payload.rep2.vr1_1.median,\n            std: msg.payload.rep2.vr1_1.std,\n            max: msg.payload.rep2.vr1_1.max,\n            p95: msg.payload.rep2.vr1_1.p95,\n            p90: msg.payload.rep2.vr1_1.p90,\n            p85: msg.payload.rep2.vr1_1.p85\n        },\n        tags: { plot: \"rep2\" },\n        timestamp: new Date()\n    },\n    {\n        measurement: \"vr2_1\",\n        fields: {\n            timepi: msg.payload.rep2.vr2_1.timestamp,\n            mean: msg.payload.rep2.vr2_1.mean,\n            median: msg.payload.rep2.vr2_1.median,\n            std: msg.payload.rep2.vr2_1.std,\n            max: msg.payload.rep2.vr2_1.max,\n            p95: msg.payload.rep2.vr2_1.p95,\n            p90: msg.payload.rep2.vr2_1.p90,\n            p85: msg.payload.rep2.vr2_1.p85\n        },\n        tags: { plot: \"rep2\" },\n        timestamp: new Date()\n    },\n    {\n        measurement: \"vr3_1\",\n        fields: {\n            timepi: msg.payload.rep2.vr3_1.timestamp,\n            mean: msg.payload.rep2.vr3_1.mean,\n            median: msg.payload.rep2.vr3_1.median,\n            std: msg.payload.rep2.vr3_1.std,\n            max: msg.payload.rep2.vr3_1.max,\n            p95: msg.payload.rep2.vr3_1.p95,\n            p90: msg.payload.rep2.vr3_1.p90,\n            p85: msg.payload.rep2.vr3_1.p85\n        },\n        tags: { plot: \"rep2\" },\n        timestamp: new Date()\n    },\n    {\n        measurement: \"vr4_1\",\n        fields: {\n            timepi: msg.payload.rep2.vr4_1.timestamp,\n            mean: msg.payload.rep2.vr4_1.mean,\n            median: msg.payload.rep2.vr4_1.median,\n            std: msg.payload.rep2.vr4_1.std,\n            max: msg.payload.rep2.vr4_1.max,\n            p95: msg.payload.rep2.vr4_1.p95,\n            p90: msg.payload.rep2.vr4_1.p90,\n            p85: msg.payload.rep2.vr4_1.p85\n        },\n        tags: { plot: \"rep2\" },\n        timestamp: new Date()\n    },\n    // Rep3 - All 4 vegetation indices\n    {\n        measurement: \"vr1_1\",\n        fields: {\n            timepi: msg.payload.rep3.vr1_1.timestamp,\n            mean: msg.payload.rep3.vr1_1.mean,\n            median: msg.payload.rep3.vr1_1.median,\n            std: msg.payload.rep3.vr1_1.std,\n            max: msg.payload.rep3.vr1_1.max,\n            p95: msg.payload.rep3.vr1_1.p95,\n            p90: msg.payload.rep3.vr1_1.p90,\n            p85: msg.payload.rep3.vr1_1.p85\n        },\n        tags: { plot: \"rep3\" },\n        timestamp: new Date()\n    },\n    {\n        measurement: \"vr2_1\",\n        fields: {\n            timepi: msg.payload.rep3.vr2_1.timestamp,\n            mean: msg.payload.rep3.vr2_1.mean,\n            median: msg.payload.rep3.vr2_1.median,\n            std: msg.payload.rep3.vr2_1.std,\n            max: msg.payload.rep3.vr2_1.max,\n            p95: msg.payload.rep3.vr2_1.p95,\n            p90: msg.payload.rep3.vr2_1.p90,\n            p85: msg.payload.rep3.vr2_1.p85\n        },\n        tags: { plot: \"rep3\" },\n        timestamp: new Date()\n    },\n    {\n        measurement: \"vr3_1\",\n        fields: {\n            timepi: msg.payload.rep3.vr3_1.timestamp,\n            mean: msg.payload.rep3.vr3_1.mean,\n            median: msg.payload.rep3.vr3_1.median,\n            std: msg.payload.rep3.vr3_1.std,\n            max: msg.payload.rep3.vr3_1.max,\n            p95: msg.payload.rep3.vr3_1.p95,\n            p90: msg.payload.rep3.vr3_1.p90,\n            p85: msg.payload.rep3.vr3_1.p85\n        },\n        tags: { plot: \"rep3\" },\n        timestamp: new Date()\n    },\n    {\n        measurement: \"vr4_1\",\n        fields: {\n            timepi: msg.payload.rep3.vr4_1.timestamp,\n            mean: msg.payload.rep3.vr4_1.mean,\n            median: msg.payload.rep3.vr4_1.median,\n            std: msg.payload.rep3.vr4_1.std,\n            max: msg.payload.rep3.vr4_1.max,\n            p95: msg.payload.rep3.vr4_1.p95,\n            p90: msg.payload.rep3.vr4_1.p90,\n            p85: msg.payload.rep3.vr4_1.p85\n        },\n        tags: { plot: \"rep3\" },\n        timestamp: new Date()\n    },\n    // Rep4 - All 4 vegetation indices\n    {\n        measurement: \"vr1_1\",\n        fields: {\n            timepi: msg.payload.rep4.vr1_1.timestamp,\n            mean: msg.payload.rep4.vr1_1.mean,\n            median: msg.payload.rep4.vr1_1.median,\n            std: msg.payload.rep4.vr1_1.std,\n            max: msg.payload.rep4.vr1_1.max,\n            p95: msg.payload.rep4.vr1_1.p95,\n            p90: msg.payload.rep4.vr1_1.p90,\n            p85: msg.payload.rep4.vr1_1.p85\n        },\n        tags: { plot: \"rep4\" },\n        timestamp: new Date()\n    },\n    {\n        measurement: \"vr2_1\",\n        fields: {\n            timepi: msg.payload.rep4.vr2_1.timestamp,\n            mean: msg.payload.rep4.vr2_1.mean,\n            median: msg.payload.rep4.vr2_1.median,\n            std: msg.payload.rep4.vr2_1.std,\n            max: msg.payload.rep4.vr2_1.max,\n            p95: msg.payload.rep4.vr2_1.p95,\n            p90: msg.payload.rep4.vr2_1.p90,\n            p85: msg.payload.rep4.vr2_1.p85\n        },\n        tags: { plot: \"rep4\" },\n        timestamp: new Date()\n    },\n    {\n        measurement: \"vr3_1\",\n        fields: {\n            timepi: msg.payload.rep4.vr3_1.timestamp,\n            mean: msg.payload.rep4.vr3_1.mean,\n            median: msg.payload.rep4.vr3_1.median,\n            std: msg.payload.rep4.vr3_1.std,\n            max: msg.payload.rep4.vr3_1.max,\n            p95: msg.payload.rep4.vr3_1.p95,\n            p90: msg.payload.rep4.vr3_1.p90,\n            p85: msg.payload.rep4.vr3_1.p85\n        },\n        tags: { plot: \"rep4\" },\n        timestamp: new Date()\n    },\n    {\n        measurement: \"vr4_1\",\n        fields: {\n            timepi: msg.payload.rep4.vr4_1.timestamp,\n            mean: msg.payload.rep4.vr4_1.mean,\n            median: msg.payload.rep4.vr4_1.median,\n            std: msg.payload.rep4.vr4_1.std,\n            max: msg.payload.rep4.vr4_1.max,\n            p95: msg.payload.rep4.vr4_1.p95,\n            p90: msg.payload.rep4.vr4_1.p90,\n            p85: msg.payload.rep4.vr4_1.p85\n        },\n        tags: { plot: \"rep4\" },\n        timestamp: new Date()\n    },\n    // Rep5 - All 4 vegetation indices\n    {\n        measurement: \"vr1_1\",\n        fields: {\n            timepi: msg.payload.rep5.vr1_1.timestamp,\n            mean: msg.payload.rep5.vr1_1.mean,\n            median: msg.payload.rep5.vr1_1.median,\n            std: msg.payload.rep5.vr1_1.std,\n            max: msg.payload.rep5.vr1_1.max,\n            p95: msg.payload.rep5.vr1_1.p95,\n            p90: msg.payload.rep5.vr1_1.p90,\n            p85: msg.payload.rep5.vr1_1.p85\n        },\n        tags: { plot: \"rep5\" },\n        timestamp: new Date()\n    },\n    {\n        measurement: \"vr2_1\",\n        fields: {\n            timepi: msg.payload.rep5.vr2_1.timestamp,\n            mean: msg.payload.rep5.vr2_1.mean,\n            median: msg.payload.rep5.vr2_1.median,\n            std: msg.payload.rep5.vr2_1.std,\n            max: msg.payload.rep5.vr2_1.max,\n            p95: msg.payload.rep5.vr2_1.p95,\n            p90: msg.payload.rep5.vr2_1.p90,\n            p85: msg.payload.rep5.vr2_1.p85\n        },\n        tags: { plot: \"rep5\" },\n        timestamp: new Date()\n    },\n    {\n        measurement: \"vr3_1\",\n        fields: {\n            timepi: msg.payload.rep5.vr3_1.timestamp,\n            mean: msg.payload.rep5.vr3_1.mean,\n            median: msg.payload.rep5.vr3_1.median,\n            std: msg.payload.rep5.vr3_1.std,\n            max: msg.payload.rep5.vr3_1.max,\n            p95: msg.payload.rep5.vr3_1.p95,\n            p90: msg.payload.rep5.vr3_1.p90,\n            p85: msg.payload.rep5.vr3_1.p85\n        },\n        tags: { plot: \"rep5\" },\n        timestamp: new Date()\n    },\n    {\n        measurement: \"vr4_1\",\n        fields: {\n            timepi: msg.payload.rep5.vr4_1.timestamp,\n            mean: msg.payload.rep5.vr4_1.mean,\n            median: msg.payload.rep5.vr4_1.median,\n            std: msg.payload.rep5.vr4_1.std,\n            max: msg.payload.rep5.vr4_1.max,\n            p95: msg.payload.rep5.vr4_1.p95,\n            p90: msg.payload.rep5.vr4_1.p90,\n            p85: msg.payload.rep5.vr4_1.p85\n        },\n        tags: { plot: \"rep5\" },\n        timestamp: new Date()\n    }\n];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 280,
        "wires": [
            [
                "973fd6efd95caee7"
            ]
        ]
    },
    {
        "id": "973fd6efd95caee7",
        "type": "influxdb batch",
        "z": "173f0e200b9a41db",
        "influxdb": "1bf928caf54dfd94",
        "precision": "",
        "retentionPolicy": "",
        "name": "Save to InfluxDB",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 640,
        "y": 280,
        "wires": []
    }
]
        